{% extends "common/base.html" %}
{% block content %}

          <!-- Begin Page Content -->
          <div class="container-fluid">

            <!-- 404 Error Text -->
            <div class="text-center align-items-center">
              <div class="align-content-center" style="margin: auto;"><div class="error" data-text="Success" style="margin: auto;">Success </div></div>
              <p class="lead text-gray-800 mb-5">Welcome to {{ Team.title }}!</p>
              <p class="text-gray-500 mb-0"> You are finally using the application ...</p>
              <a href="{% url 'log-list' %}">&larr; Jump Back to log page </a>
            </div>

          </div>

{% endblock content %}