{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-md-8 mx-auto col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold text-primary">Create Team</h6>
                    </div>
                    <div class="card-body">
                        <form method="POST" enctype='multipart/form-data'>
                            {% csrf_token %}
                            <fieldset class="form-group">
                                {{ form|crispy }}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-primary" type="submit">Create Team</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
