.flip {
  position: relative;
  > .front,
  > .back {
    display: block;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 0.5s;
    transition-property: transform, opacity;
  }
  > .front {
    transform: rotateY(0deg);
  }
  > .back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0 auto;
    transform: rotateY(-180deg);
  }
  &:hover {
    > .front {
      transform: rotateY(180deg);
    }
    > .back {
      opacity: 1;
      transform: rotateY(0deg);
    }
  }
  &.flip-vertical {
    > .back {
      transform: rotateX(-180deg);
    }
    &:hover {
      > .front {
        transform: rotateX(180deg);
      }
      > .back {
        transform: rotateX(0deg);
      }
    }
  }
}

.flip {
  position: relative;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 100%;
  > .front,
  > .back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: 330px;
    padding: 1.5em 1em;
    background: #313131;
    border-radius: 10px;
    p {
      line-height: 160%;
      color: #999;
    }
  }
}
