{% extends 'common/base.html' %} {% load static %} {% block styles %}

<style>
    .log-view {
        background: white;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 100%;
        border-radius: 1rem;
        padding-bottom: 5%;
        padding: 5%;
        color: black;
    }

    .main-heading {
        /* margin-top: 2em; */
        font-size: 3.5em;
    }

    .log-content-row {
        margin-top: 2em;
    }

    .log-content {
        color: #858796;
    }

    .btn-lg {
        border-radius: 1.2rem;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'log/metro.css' %}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">


{% comment %} For the username entry field {% endcomment %}
 {% endblock styles %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="container log-view">
                <div class="row log-author-row">
                    <div class="col-md-5 log-heading">
                        <h4> Author: {{ log.user.username }}</h4>
                        <img class=" rounded-circle" width="2em" height src="{{ log.user.profile.image.url }}">
                    </div>

                </div>
                <div class="row log-heading-row justify-content-between ">
                    <div class="col-6   log-heading">
                        <h7 class="main-heading small ">{{ log.title }}</h7>
                    </div>
                    {% if log.user == request.user %}
                    <div class="col-md-6 col-sm-12">
                        <div class="btn-toolbar fa-pull-right">

                            <div class="btn-group btn-group-lg mr-2" role="group">
                                <button class="btn btn-secondary" onclick="editPageRedirect();">Edit</button>
                                <button class="btn btn-primary" data-toggle="modal" href="#shareModal">Share</button>

                                <button class="btn btn-danger " data-toggle="modal" href="#myModal">Delete</button>

                            </div>

                            <div class="btn-group btn-group-lg mr-2" role="group">
                                <button class="btn btn-outline-dark fa fa-paperclip" data-toggle="modal" href="#userFilesModal"></button>

                            </div>
                        </div>
                        <!-- <button class="btn-lg btn-secondary btn-block" onclick="editPageRedirect();">Edit</button> -->
                    </div>
                    {% endif %}
                </div>


                <div class="row">
                    <div class="col-md-8" style="color: grey;">
                        {{ log.date_modified }}
                        <hr>
                    </div>
                </div>
                <div class="row log-content-row">
                    <div class="col">
                        <div class="log-content" id="log-content">{{ log.note }}</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this log ? </p>
                <p class="text-secondary"><small>This will also be deleted for all other collabrators in this project.
                        This action cannot be undone.</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger" href="{% url 'log-delete' %}?id={{ log.id }}">Delete Log</a>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="shareModalLabel">Sharing</h2>

            </div>
            <div class="modal-body">
                <form action="{% url 'log-share' %}" method="post" id="shareform" class="shareform">
                    <div class="form-group">
                        Please enter the usernames of the accounts that you want to share this log with. <br>All
                        usernames should start with an @ sign.
                    </div>
                    <div class="form-group">
                        <input id="usernameInput" name="usernames" type="text" data-role="taginput"
                            value="{% for username in userlist %}@{{ username }},{% endfor %}"
                            data-cls-tag-title="text-bold fg-white" data-cls-tag="bg-olive"
                            data-cls-tag-remover="bg-darkOlive fg-white" data-on-tag-add="console.log(3)">


                    </div>

                    <div class="form-group" id="messageAlert">

                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
            </form>

        </div>
    </div>
</div>

<div class="modal fade" id="userFilesModal" tabindex="-1" role="dialog" aria-labelledby="userFilesModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="userFilesModalLabel">My Attachments</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <table id="userFiles" class="display" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Size (KB)</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for attachment in files %}
                        <tr>
                            <td>{{ attachment.title }}</td>
                            <td>{{ attachment.file.size | filesizeformat}}</td>
                            <td><a href="{{ attachment.file.url }}" class="btn btn-outline-primary mr-2">Download</a><a href="{{ attachment.file.url }}" class="btn btn-outline-dark" onclick="copyURI(event)">Copy</a>
                                
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>

                </table>
                <br>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock content %} {% block scripts %}

<script src="{% static 'log/marked.min.js' %}"></script>

<script>
    document.getElementById('log-content').innerHTML =
        marked(document.getElementById('log-content').innerHTML);


    function editPageRedirect() {
        console.log("Hello");
        window.location.href = "{% url 'log-edit' log.id %}";
    }

    $('#shareform').on('submit', function (e) {

        if (!e.isDefaultPrevented()) {
            var url = "{% url 'log-share' %}";
            var inputField = $("#usernameInput").data('taginput');

            $.ajax({
                type: "POST",
                url: url,
                data: {
                    "usernames": inputField.values.join(','),
                    "loguuid": "{{ log.id }}",
                    "csrfmiddlewaretoken": "{{ csrf_token }}",
                },
                xhrFields: {
                    withCredentials: true
                },
                dataType: 'json',
                success: function (data) {

                    var successmesage = data.message;
                    $("#messageAlert").html(
                        `                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>Success! </strong> ${successmesage}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                            </div>`);
                },
                error: function (data) {

                    try {
                        var errormessage = data.responseJSON.message;
                        $("#messageAlert").html(
                            `                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Error: </strong> ${errormessage}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                            </div>`);
                    } catch (err) {
                        $("#messageAlert").html(
                            `                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Error: </strong> An unknown error occurred. Please contact administrator.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                            </div>`);
                    }



                }
            });
            return false;
        }
    })
</script>
<script>
    $(document).ready(function () {
        $('#userFiles').DataTable();
    });

    function copyURI(evt) {
        evt.preventDefault();
        navigator.clipboard.writeText(event.currentTarget.href);
    }
</script>
<script src="{% static 'log/metro.min.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
{% endblock scripts %}