// Global component styles
* {
  box-sizing: border-box !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-size: 16px;
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
  height: 100%;
}

a {
  &:focus {
    outline: none;
  }
}

// Main page wrapper
#wrapper {
  display: flex;
  flex-direction: column;
  #content-wrapper {
    background-color: $gray-100;
    width: 100%;
    overflow-x: hidden;
    #content {
      flex: 1 0 auto;
    }
    #content-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 1.2rem;
    }
  }
}

// Set container padding to match gutter width instead of default 15px
.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: $white;
  background: fade-out($gray-800, 0.5);
  line-height: 46px;
  &:focus,
  &:hover {
    color: white;
  }
  &:hover {
    background: $gray-800;
  }
  i {
    font-weight: 800;
  }
}
