<footer>
  <div class="footer-content">
    <h3>Digital Logbook</h3>
    <p>
      A perfect initiative to avoid the paper work and a complete record of all
      you important projects.
    </p>
    <ul class="socials">
      <li>
        <a href="#"><i class="fa fa-facebook"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-google-plus"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-youtube"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-linkedin-square"></i></a>
      </li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>copyright &copy;2021 LogBook. designed by <span>thapar</span></p>
  </div>
</footer>
