<footer>
  <div class="footer-content">
    <h3>Digital Logbook</h3>
    <p>
      A perfect initiative to avoid the paper work and a complete record of all
      you important projects.
    </p>
  </div>
  <p class="text-center">
    <a href="mailto:logbook@thapar.edu" class="text-decoration-none text-white">
      <i class="fa fa-envelope" aria-hidden="true"></i>
       Contact us
    </a>
  </p>
  <div class="footer-bottom">
    <p class="m-0">copyright &copy;2021 LogBook. <br><br> designed by <a href="{% url 'ourteam' %}" class="text-dark font-weight-bold">Team</a> at Thapar Institue of Engineering and Technology</p>
  </div>
</footer>
