{% extends "common/base.html" %}
{% load static %}
{% block content %}

<!-- Begin Page Content -->
<div class="container fluid">
<div class="panel-group" id="accordion">
<div class="row">
    <div class="col-md-6">
                    
        <h1 class="h3 mb-3 text-white-800">About this Project
        
        <a class="btn btn-primary btn-circle">
                    <i class="fas fa-info-circle text-white"></i>
                  </a></h1>            
        
<h1 id="engineering-logbook-project">Engineering Logbook Project</h1>
<p>The logbook serves as a repository for all relevant information, meeting summaries, responsibilities, tasks, due dates etc. The design logbook is like a trusted assistant, who helps by recording all that is important and helps prioritize what needs to be done next. The proposed project is to develop a habit of keeping a design logbook. The need is to build a digital logbook app that all students can use during the capstone project to learn what content should be written in a logbook and to develop a habit of keeping an up-to-date logbook.</p>
<h2 id="about-">About  💫</h2>
<p>The project is to bring significant value to the people who use it and manage capstone projects on our campus.
The plan is to be something similar to branching and versioning to other engineering projects 
Currently, this project makes it simple for you to create logs and add maintain engineering projects and make Teams </p>
<h3 id="goals-">Goals :</h3>
<ul>
<li>Personal Logbook cum task organizer.</li>
<li>Scalable, secure and collaborative interface for engineers and scientists.</li>
<li>Analogous to <code>Github</code> but also supports non-circuit branches.</li>
<li>Project interface to adequately monitor and evaluate group tasks.</li>
</ul>
<h3 id="proposed-functionalities">Proposed Functionalities</h3>
<ol>
<li>Timelined Daily<ul>
<li>Logs on the basis of Dates</li>
<li>Tamperproof logs (Data can be edited within the day with edit logs maintained)</li>
<li>Public and Private logs depending on the sensitivity of contents as required</li>
</ul>
</li>
<li>Embed and log basic types of data including but not limited to :<ul>
<li>PDF / Word / Excel / PPTs / LaTeX / Symbolic Math</li>
<li>Video / Image / YouTube / Location / Contacts / Audio</li>
</ul>
</li>
<li>Scalable and Flexible Web GUI interface which can be expanded to multiple platform based clients.</li>
<li>Collaborative Project environment<ul>
<li>Supports Kanban / Gantt Chart for the structured approach of tasks.</li>
<li>Project linked through tags mentioned in the logs, these tags can further support sub-tags for corresponding departments within the project.</li>
<li>Privacy to the logs can be shared in Private (Personal to the user), Semi-Private (Shared between the members of the corresponding project), Public.</li>
</ul>
</li>
<li>Logs are encrypted to increase further security.</li>
<li>Other basic Miscellaneous features like<ul>
<li>Bookmarking based on the priority of logs or tasks.</li>
<li>Internal Links (Ports to particular Internal entries).</li>
<li>Comments and Reviews on public entries.</li>
<li>Support for evaluation on the basis of quality documentation of logs</li>
</ul>
</li>
<li>Secondary / Nice to have features.<ul>
<li>Local Desktop and Multiplatform Mobile Client.</li>
<li>Syncable Offline Support.</li>
<li>Reminder for particular log tasks (In application notification or calendar syncable).</li>
<li>Preview popular Computer-Aided Design (CAD) formats.</li>
<li>Annotating Photos and using OCR to extract and embed data.</li>
<li>Chat / Video - Conferencing Support.</li>
<li>IoT based Tool and equipment tracking.</li>
<li>Auto Generation of Bill of Materials and Inventory lists.</li>
<li>Link &amp; Embed files from popular cloud services like (gDrive, Dropbox, OneDrive).</li>
</ul>
</li>
</ol>
<h2 id="contribution-">Contribution 🎛</h2>
<ul>
<li>Project repository at <a href="https://github.com/EngineerLogbook">github</a>.</li>
<li>We would be more than elated to have PR from anyone, also outside community to grow the project. </li>
<li>If any bug fixes are required and feature needs building please raise Issues and our team would respond quickly</li>
</ul>
<h2 id="getting-started-">Getting Started ⚙️</h2>
<p>These instructions in <a href="https://github.com/EngineerLogbook/scrum-2/blob/master/SETUP.md">SETUP</a> will get you a copy of the project up and running on your local machine for development and testing purposes. </p>
<h2 id="built-with-">Built With ⚒</h2>
<ul>
<li><h3 id="backend-">Backend 📡</h3>
<ul>
<li><a href="https://www.djangoproject.com">Django 3.0</a> - The web framework used in the project.</li>
<li><a href="https://www.django-rest-framework.org">Django Rest Framework</a> - Does the magic of making REST API endpoints </li>
</ul>
</li>
<li><h3 id="web-application-">Web Application 🖥</h3>
<ul>
<li><a href="https://getboostrap.com">Bootstrap</a> - The Twitter UI Framework</li>
</ul>
</li>
</ul>
<h2 id="versioning-">Versioning 🗓</h2>
<p>We use <a href="http://semver.org/">SemVer</a> for versioning. </p>
<h2 id="project-development-team-eyeglasses-"><a href="{% url 'ourteam' %}" class="ourteam">Project Development Team</a></h2>
<ul>
<li><strong>Project Leader :</strong> <a href="https://github.com/growupboron">Shankho Boron Ghosh</a></li>
<li><strong>Lead Software Developer:</strong> <a href="https://github.com/AroraShreshth">Shresth Arora</a></li>
<li><strong>Team Whip &amp; Backend Developer :</strong> <a href="https://github.com/MagnumDingusEdu">Vividh Marya</a></li>
<li><p><strong>Software Developers:</strong></p>
<ul>
<li><a href="https://github.com/akshit-mee">Akshit Gupta</a></li>
<li><a href="https://github.com/AnirudhAiri7">Divyam Dutta</a></li>
<li><a href="https://github.com/NipunGarg1">Nipun Garg</a></li>
<li><a href="https://github.com/AnirudhAiri7">Anirudh Airi</a></li>
<li><a href="https://github.com/tushenmakol">Tushen Makol</a></li>
<li><a href="https://github.com/Prachi-Aeron">Prachi Aeron</a></li>
<li><a href="https://github.com/ankurmonga7">Ankur Monga</a></li>
<li><a href="https://github.com/taz2419">Tushar Choudhary</a></li>
<li><a href="https://github.com/Kartik8093">Kartik Sharma</a></li>
<li><a href="https://github.com/IceWreck">Anchit Bajaj</a></li>
<li><a href="https://github.com/WantGuns">Gunwant Jain</a></li>
</ul>
<!-- NEED to be updated by author's themselves -->
</li>
</ul>
<h2 id="license-">License 📜</h2>
<p>This project is licensed under the GNU-GENERAL-PUBLIC-LICENSE - see the <a href="LICENSE.md">LICENSE.md</a> file for details</p>
<h2 id="faculty-advisors-">Faculty Advisors 💯</h2>
<p>We are thankful for the guidance of :</p>
<ul>
<li><a href="https://uwaterloo.ca/engineering-ideas-clinic/people-profiles/sanjeev-bedi-peng">Dr Sanjeev Bedi</a> - Professor, University of Waterloo </li>
<li><a href="http://www.thapar.edu/faculties/view/Dr.-Ajay-Batish/MTQy/Nw==">Dr Ajay Batish</a> - Professor, Thapar Institute of Engineering &amp; Technology</li>
<li><a href="http://thapar.edu/faculties/view/A.-S.-Jawanda/MTU4/MTY=">Mr A S Jawanda</a> - Associate Professor, Thapar Institute of Engineering &amp; Technology</li>
<li><a href="http://thapar.edu/faculties/view/Dr.-Sandeep-Sharma/MTYz/MTY=">Dr Sandeep Sharma</a> - Associate Professor, Thapar Institute of Engineering &amp; Technology</li>
</ul>


         </div>
                    <div class="col-md-6" style="padding: 5%;">
                    
                        <img src="{% static "img/FAQs.png" %}" alt="FAQs" style="width:600px;height:350px;">
                     
                            
                    </form>

                    </div>
                </div>
            </div>
{% endblock content %}