{% extends "common/base.html" %}{% block content %}
<div id="site-body">
<link rel="stylesheet" type="text/css" href="#">
	<div id="contactUsMain" class="section">		
		<div class="content text-center align-text-top" >
		<h1 class="title">Contact Us</h1><br>
			<div class="row">
				<div id="needhelp" class="col">
					<div class="icon">
					</div>
					<i class='fas fa-phone-alt' style='font-size:48px;color:blue'></i>
					<h4 class="subtitle"><br>By Phone</h4>
					<small>(Monday to Friday, 9am to 3pm IST)</small>
					<p class="desc">
					<br/>
					Fixed Line:<br/>
                   	1234567890<br/>
               	    0987654321<br/>					
					</p>
				</div>
				<div id="start-case" class="col">
					<div class="icon newcase">
					</div>
					<i class='fas fa-envelope' style='font-size:48px;color:blue'></i>	
					<h4 class="subtitle"><br>By Email</h4>
					<p class="desc"><br>
					Email us with any questions or inquiries.<br> We will be happy to help and <br>provide you the help you need. 
					<div class="button">
						<button type="button" class="btn btn-outline-primary">
							Click Here
						</button>
					</div>
					</p>	
				</div>
			</div>
		</div>
	</div>
	<div id="needinstanthelp" class="section">
		<div class="content text-center align-text-top" ><br>
		<h3 class="title">Need Instant Help?</h3><br>
			<div class="row">
				<div id="video-tutorials" class="col">
					<div class="icon">
					</div>
					<button type="button" class="btn btn-outline-primary">
						Video Tutorials
					</button>
				</div>
				<div id="resources" class="col">
					<div class="icon newcase">
					</div>
					<div class="button">
						<button type="button" class="btn btn-outline-primary">
							Resources
						</button>
					</div>	
				</div>
				<div id="help" class="col">
					<div class="icon">
					</div>
					<button type="button" class="btn btn-outline-primary">
						Help
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}