{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% block content%}

<style>
.custom-card {
    min-width : 100%;
}

.center-content {

    display : grid;
    place-items : center;
    margin-bottom : 2rem;

}
@media only screen and (min-width: 992px) {


    .center-content {
        padding : 5rem;
    }
}

</style>
<div class="container">
    <!-- Outer Row -->
      <div class="content-section center-content" >
   <div class="card shadow mb-8 custom-card" > 
  
            <div class="card-header py-8" class="card-header py-8">
           
           
                <a href="{% url 'user-detail' request.user.profile.id %}">
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit"> Back
                            to
                            Profile Page </button>
                    </div>
                </a>
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="content-section">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4">Profile
                                    Update </legend>
                                {{ u_form|crispy }}
                                <br>
                                {{ p_form|crispy}}

                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-info"
                                    type="submit">Update</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
     </div>
    </div>
</div>
{% endblock content %}
{% comment %} 
  <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9"> {% endcomment %}