{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Digital Logbook</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="favicon.png">

    <link rel="stylesheet" href="{% static 'landing/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'landing/style.css' %}">

</head>

<body>
    <!-- Header starts -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="index.html">
                                    <img src="{% static 'landing/img/logofinal.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="index.html">Home</a></li>
                                        <li><a href="#aboutsection">About</a></li>
                                        <li><a href="#testimonials">Testimonials</a></li>
                                        <li><a href="{% url 'ourteam' %}" class="ourteam">Our team</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="log_chat_area d-flex align-items-center">
                                <a href="{% url 'login' %}" class="login">
                                    <i class="fa fa-user"></i>
                                    <span>log in</span>
                                </a>
                                <div class="live_chat_btn">
                                    <a class="boxed_btn_orange" href="mailto:contact@loggy.com">
                                        <span>Contact</span>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->
    <div class="slider_area ">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1" style="background-image: url({% static 'landing/img/banner/banner.png' %});">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-6 col-md-6">
                        <div class="illastrator_png">
                            <img src="{% static 'landing/img/banner/edu_ilastration.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <div class="slider_info">
                            <h3>Goodbye <br> paper <br> Logs.
                            </h3>
                            <a href="{% url 'register' %}" class="boxed_btn">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->


    <div class="all_courses">
        <div class="testimonials" id="aboutsection">
            <div class="inner">
                <h1>ABOUT</h1>
                <div class="border"></div>
            
            </div>
        </div>
        <div class="row" style="background-color: #f1f1f1;">
            <div class="col-12" style="margin-left: 0em;">
                <div class="row">
                    <div class="col-6">
                        <div class="">
                            <img src="{% static 'landing/img/encryption1.png' %}" alt="">

                        </div>
                    </div>

                    <div class="col-6" style="padding: 2.3% 10%;">
                        <h3 style="text-align: left;">Keep your personal data safe and secure</h3>
                        <p style="text-align: left;">LogBook allows you to harness the power of technology to eliminate the need for cumbersome paper logs and complex spreadsheets. Now you can even use your web browser to collect notes and even files such as Images, Pdf's, Videos, Cad files, Excel sheets etc. to sync directly into the LogBook, which is Encrypted i.e. totally secure and inaccessible to anyone else without your permission.                         </p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6" style="padding: 3% 10%;">
                        <h3 style="text-align: left;">Build stronger communication and Collaboration</h3>
                        <p style="text-align: left;">LogBook gives you the platform to keep your team in the loop on what’s going on in your project. Clearer communication ensures a more efficient operation.
                        </p>
                        <hr>
                    </div>
                    <div class="col-6">
                        <div class="">
                            <img src="{% static 'landing/img/team1.png' %}" alt="">

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="">
                            <img src="{% static 'landing/img/sharing1.png' %}" alt="">

                        </div>
                    </div>
                    <div class="col-6" style="padding: 3% 10%;">
                        <h3 style="text-align: left;">Build stronger communication and Collaboration</h3>
                        <p style="text-align: left;">LogBook gives you the platform to keep your team in the loop on what’s going on in your operation. Clearer communication ensures a safer more efficient operation.
                        </p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- about_area_end -->


    <div class="all_courses">
        <div class="testimonials" id="testimonials">
            <div class="inner">
                <h1>TESTIMONIALS</h1>
                <div class="border"></div>
                <P>"We want to express our deepest gratitude to Dr. Sanjeev Bedi Professor of Mechanical and Mechatronics Engineering, University of Waterloo, for giving us the opportunity to be a part of this wonderful journey and making this project happen."
                    <br> -The team
                </P>
                <div class="row">
                    <div class="col">
                        <div class="testimonial">
                            <img src="{% static 'landing/img/jawandaSir-min.png' %}" alt="">
                            <div class="name" style="margin: 20px 0 0 0;">Ajayinder S Jawanda</div>
                            <p>-Associate Professor</p>
                            <hr>


                            <p>
                                “It was a treat to experience the execution of a software-based project executed so beautifully by a multi-disciplinary team of budding engineers. It was also a pleasure to see the enthusiasm, teamwork, professionalism which lead to the final engineered
                                product, following the generic engineering design process.”
                            </p>
                        </div>
                    </div>

                    <div class="col">
                        <div class="testimonial">
                            <img src="{% static 'landing/p2.png' %}" alt="">
                            <div class="name">Ajay Batish</div>

                            <p>
                                ...
                            </p>
                        </div>
                    </div>

                    <div class="col">
                        <div class="testimonial">
                            <img src="{% static 'landing/img/sksharma.png' %}" alt="">
                            <div class="name" style="margin: 20px 0 0 0;">Sandeep Sharma</div>
                            <p>-Assistant Professor</p>
                            <hr>

                            <p>
                                “Coming together is a beginning. Keeping together is progress. Working together is success.” -Henry Ford. <br> These young budding engineers, drawn from diverse domains, have proved it true. I am really proud of this team
                                and wish them great success in all future endeavours.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Starts -->
        <footer class="footer footer_bg_1" style="  background-image: url({% static 'landing/img/banner/footer_bg.png' %});">
            <div class="copy-right_text">
                <div class="container">
                    <div class="footer_border"></div>
                    <div class="row">
                        <div class="col-xl-12">
                            <p class="copy_right text-center" style="color: white ;">

                                Copyright ©️
                                <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
                                <script type="text/javascript">
                                    document.write(new Date().getFullYear());
                                </script>
                                All rights reserved | Thapar Institute
                                <a href="#" target="_blank"></a>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Ends -->

        <script src="{% static 'landing/jquery.min.js' %}"></script>

        <script>
            $(document).ready(function() {
                $('a[href*=\\#]').on('click', function(e) {
                    e.preventDefault();
                    $('html, body').animate({
                        scrollTop: $(this.hash).offset().top
                    }, 500);
                });
            });
        </script>

</body>

</html>