{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Digital Logbook</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="favicon.png">

    <link rel="stylesheet" href="{% static 'landing/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'landing/style.css' %}">
    <link rel="stylesheet" href="{% static 'landing/bootstrap-social.css' %}">

</head>
<body>
   <div class="all_courses">
        <div class="testimonials" id="testimonials">
            <div class="inner">
                <h1>Our Team</h1>
                <p style="color: #fff;">
                <div class="border"></div>
                </P>
                <div class="row">
                    <div class="col">
                        <div class="testimonial">
                            <img src="{% static 'landing/img/shankho.png' %}" alt="">
                            <div class="name" style="margin: 20px 0 0 0;">Shankho Boron Ghosh</div>
                            <p>-Project Leader</p>
                            <hr>


                            <p style="color: #fff;" >
                               <a class="btn btn-block btn-social btn-linkedin" href="https://www.linkedin.com/in/shankho-ghosh/" >
                              
    <span class="fa fa-linkedin"></span >Linkedin profile
  </a> 
                            </p>
                        </div>
                    </div>

                    <div class="col">
                        <div class="testimonial">
                            <img src="{% static 'landing/img/Vividh.png' %}" alt="">
                            <div class="name"  style="margin: 20px 0 0 0;">Vividh Mariya</div>
                            <p>
                             -Team Whip & Backend Developer
                            </p>
                            
                            <hr>
                             <p style="color: #fff;" >
                               <a class="btn btn-block btn-social btn-linkedin" href="https://www.linkedin.com/in/vividhmariya/" >
                              
    <span class="fa fa-linkedin"></span >Linkedin profile
  </a> 
                            </p>
                        </div>
                    </div>

                    <div class="col">
                        <div class="testimonial">
                            <img src="{% static 'landing/img/shreshth.png' %}" alt="">
                            <div class="name" style="margin: 20px 0 0 0;">Shreshth Arora</div>
                            <p>-Lead Software Developer</p>
                            <hr>

                            <p>
 <p style="color: #fff;" >
                               <a class="btn btn-block btn-social btn-linkedin" href="https://linkedin.com/in/shreshtharora" >
                              
    <span class="fa fa-linkedin"></span >Linkedin profile
  </a> 
                            </p>
                            </p>
                        </div>
                    </div>

                    <div class="col">
                        <div class="testimonial">
                            <img src="{% static 'landing/img/prachi.png' %}" alt="">
                            <div class="name"  style="margin: 20px 0 0 0;">Prachi Aeron</div>
                            <p>
                             -Software Developer
                            </p>
                            <hr>
                             <p style="color: #fff;" >
                               <a class="btn btn-block btn-social btn-linkedin" href="https://www.linkedin.com/in/prachi-aeron-81a7441ab/" >
                              
    <span class="fa fa-linkedin"></span >Linkedin profile
  </a> 
                            </p>
                        </div>
                    </div>

                    <div class="col">
                        <div class="testimonial">
                            <img src="{% static 'landing/img/divyam.png' %}" alt="">
                            <div class="name"  style="margin: 20px 0 0 0;">Divyam Dutta</div>
                            <p>
                             -Software Developer
                            </p>
                            <hr>
                             <p style="color: #fff;" >
                               <a class="btn btn-block btn-social btn-linkedin" href="https://www.linkedin.com/in/divyam-dutta-b541681a7/" >
                              
    <span class="fa fa-linkedin"></span >Linkedin profile
  </a> 
                            </p>
                        </div>
                    </div>

                    <div class="col">
                        <div class="testimonial">
                            <img src="{% static 'landing/img/anirudh.jpeg' %}" alt="">
                            <div class="name"  style="margin: 20px 0 0 0;">Anirudh Airi</div>
                            <p>
                             -Software Developer
                            </p>
                            <hr>
                             <p style="color: #fff;" >
                               <a class="btn btn-block btn-social btn-linkedin" href="https://www.linkedin.com/in/anirudh-airi-b789b292/" >
                              
    <span class="fa fa-linkedin"></span >Linkedin profile
  </a> 
                            </p>
                        </div>
                    </div>

                     <div class="col">
                        <div class="testimonial">
                            <img src="{% static 'landing/img/akshit.jpeg' %}" alt="">
                            <div class="name"  style="margin: 20px 0 0 0;">Akshit Gupta</div>
                            <p>
                             -Software Developer
                            </p>
                            <hr>
                             <p style="color: #fff;" >
                               <a class="btn btn-block btn-social btn-linkedin" href="https://www.linkedin.com/in/mr-gupta/" >
                              
    <span class="fa fa-linkedin"></span >Linkedin profile
  </a> 
                            </p>
                        </div>
                    </div>

                     <div class="col">
                        <div class="testimonial">
                            <img src="{% static 'landing/img/ankur.jpeg' %}" alt="">
                            <div class="name"  style="margin: 20px 0 0 0;">Ankur Monga</div>
                            <p>
                             -Software Developer
                            </p>
                            <hr>
                             <p style="color: #fff;" >
                               <a class="btn btn-block btn-social btn-linkedin" href="https://www.linkedin.com/in/ankur-monga-965792197/" >
                              
    <span class="fa fa-linkedin"></span >Linkedin profile
  </a> 
                            </p>
                        </div>
                    </div>

                     <div class="col">
                        <div class="testimonial">
                            <img src="{% static 'landing/img/kartik.jpeg' %}" alt="">
                            <div class="name"  style="margin: 20px 0 0 0;">Kartik Sharma</div>
                            <p>
                             -Software Developer
                            </p>
                            <hr>
                             <p style="color: #fff;" >
                               <a class="btn btn-block btn-social btn-linkedin" href="https://www.linkedin.com/in/kartik-sharma-96792914a/" >
                              
    <span class="fa fa-linkedin"></span >Linkedin profile
  </a> 
                            </p>
                        </div>
                    </div>

                     <div class="col">
                        <div class="testimonial">
                            <img src="{% static 'landing/img/nipun.jpeg' %}" alt="">
                            <div class="name"  style="margin: 20px 0 0 0;">Nipun Garg</div>
                            <p>
                             -Software Developer
                            </p>
                            <hr>
                             <p style="color: #fff;" >
                               <a class="btn btn-block btn-social btn-linkedin" href="https://www.linkedin.com/in/nipun-garg-b672a61b1/" >
                              
    <span class="fa fa-linkedin"></span >Linkedin profile
  </a> 
                            </p>
                        </div>
                    </div>

                     <div class="col">
                        <div class="testimonial">
                            <img src="{% static 'landing/img/bred.jpeg' %}" alt="">
                            <div class="name"  style="margin: 20px 0 0 0;">Tushar Choudhary</div>
                            <p>
                             -Software Developer
                            </p>
                            <hr>
                             <p style="color: #fff;" >
                               <a class="btn btn-block btn-social btn-linkedin" href="https://www.linkedin.com/in/tushar-choudhary24/" >
                              
    <span class="fa fa-linkedin"></span >Linkedin profile
  </a> 
                            </p>
                        </div>
                    </div>

                     <div class="col">
                        <div class="testimonial">
                            <img src="{% static 'landing/img/tushen.jpeg' %}" alt="">
                            <div class="name"  style="margin: 20px 0 0 0;">Tushen Makol</div>
                            <p>
                             -Software Developer
                            </p>
                            <hr>
                             <p style="color: #fff;" >
                               <a class="btn btn-block btn-social btn-linkedin" href="https://www.linkedin.com/in/tushen-makol-1a92401b1/" >
                              
    <span class="fa fa-linkedin"></span >Linkedin profile
  </a> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <script src="{% static 'landing/jquery.min.js' %}"></script>
</body>

<html>
