{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Digital Logbook</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="favicon.png">

    <link rel="stylesheet" href="{% static 'landing/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'landing/style.css' %}">

</head>
<body>
{% comment %} <div class="all_courses">
<div class="testimonials" id="aboutsection">
            <div class="inner">
                <h1>Our Team</h1>
                <div class="border"></div>
                <br>
</div>
    </div>
        </div>
            <div class="card" style="width: 18rem;">
            <img src="landing/img/prachi.png" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
</div> {% endcomment %}
   <div class="all_courses">
        <div class="testimonials" id="testimonials">
            <div class="inner">
                <h1>Our Team</h1>
                <div class="border"></div>
                {% comment %} <P>"We want to express our deepest gratitude to Dr. Sanjeev Bedi Professor of Mechanical and Mechatronics Engineering, University of Waterloo, for giving us the opportunity to be a part of this wonderful journey and making this project happen."
                    <br> -The team {% endcomment %}
                </P>
                <div class="row">
                    <div class="col">
                        <div class="testimonial">
                            <img src="{% static 'landing/img/shankho.png' %}" alt="">
                            <div class="name" style="margin: 20px 0 0 0;">Shankho Boron Ghosh</div>
                            <p>-Project Leader</p>
                            <hr>


                            <p>
                                
                            </p>
                        </div>
                    </div>

                    <div class="col">
                        <div class="testimonial">
                            <img src="{% static 'landing/img/vividh.png' %}" alt="">
                            <div class="name"  style="margin: 20px 0 0 0;">Vividh Mariya</div>
                            <p>
                             -Team Whip & Backend Developer
                            </p>
                            <hr>
                        </div>
                    </div>

                    <div class="col">
                        <div class="testimonial">
                            <img src="{% static 'landing/img/shreshth.png' %}" alt="">
                            <div class="name" style="margin: 20px 0 0 0;">Shreshth Arora</div>
                            <p>-Lead Software Developer</p>
                            <hr>

                            <p>

                            </p>
                        </div>
                    </div>

                    <div class="col">
                        <div class="testimonial">
                            <img src="{% static 'landing/img/prachi.png' %}" alt="">
                            <div class="name"  style="margin: 20px 0 0 0;">Prachi Aeron</div>
                            <p>
                             -Software Developer
                            </p>
                            <hr>
                        </div>
                    </div>

                    <div class="col">
                        <div class="testimonial">
                            <img src="{% static 'landing/img/divyam.png' %}" alt="">
                            <div class="name"  style="margin: 20px 0 0 0;">Divyam Dutta</div>
                            <p>
                             -Software Developer
                            </p>
                            <hr>
                        </div>
                    </div>

                    <div class="col">
                        <div class="testimonial">
                            <img src="{% static 'landing/img/anirudh.jpeg' %}" alt="">
                            <div class="name"  style="margin: 20px 0 0 0;">Anirudh Airi</div>
                            <p>
                             -Software Developer
                            </p>
                            <hr>
                        </div>
                    </div>

                     <div class="col">
                        <div class="testimonial">
                            <img src="{% static 'landing/img/akshit.jpeg' %}" alt="">
                            <div class="name"  style="margin: 20px 0 0 0;">Akshit Gupta</div>
                            <p>
                             -Software Developer
                            </p>
                            <hr>
                        </div>
                    </div>

                     <div class="col">
                        <div class="testimonial">
                            <img src="{% static 'landing/img/ankur.jpeg' %}" alt="">
                            <div class="name"  style="margin: 20px 0 0 0;">Ankur Monga</div>
                            <p>
                             -Software Developer
                            </p>
                            <hr>
                        </div>
                    </div>

                     <div class="col">
                        <div class="testimonial">
                            <img src="{% static 'landing/img/kartik.jpeg' %}" alt="">
                            <div class="name"  style="margin: 20px 0 0 0;">Kartik Sharma</div>
                            <p>
                             -Software Developer
                            </p>
                            <hr>
                        </div>
                    </div>

                     <div class="col">
                        <div class="testimonial">
                            <img src="{% static 'landing/img/nipun.jpeg' %}" alt="">
                            <div class="name"  style="margin: 20px 0 0 0;">Nipun Garg</div>
                            <p>
                             -Software Developer
                            </p>
                            <hr>
                        </div>
                    </div>

                     <div class="col">
                        <div class="testimonial">
                            <img src="{% static 'landing/img/bred.jpeg' %}" alt="">
                            <div class="name"  style="margin: 20px 0 0 0;">Tushar Choudhary</div>
                            <p>
                             -Software Developer
                            </p>
                            <hr>
                        </div>
                    </div>

                     <div class="col">
                        <div class="testimonial">
                            <img src="{% static 'landing/img/tushen.jpeg' %}" alt="">
                            <div class="name"  style="margin: 20px 0 0 0;">Tushen Makol</div>
                            <p>
                             -Software Developer
                            </p>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <script src="{% static 'landing/jquery.min.js' %}"></script>
</body>

<html>
