{% extends "unlogged/base.html" %} {% load crispy_forms_tags %} {% block content %}

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5 " style="height: 30em;">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Email Confirmation Sent</h1>
                            </div>
                            <hr class="mb-4">
                            <div class="text-just">
                                <p>
                                    We've emailed you instructions for setting your password, if an account exists with
                                    the
                                    email you entered.
                                    You should receive them shortly.
                                </p>
                                <p>
                                    If you don't receive an email, please make sure you've entered the address you
                                    registered with,
                                    and check your spam folder.
                                </p>
                            </div>
                            <div class="text-center">
                                <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    {% endblock content %}