{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
          
                
            <!-- Nested Row within Card Body -->
            
            <div class="container">
                <div class="row">
                    <div class="col-md-4 justify-content-center align-items-center" style="padding: 5%">
                        <div class="row">
                            <div class="col justify-content-center align-items-center form-group">
                                <a  href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="rounded-circle avatar img-fluid" style="width: 10em;height: 10em;" src="{{ profile.image.url }}">
                                </a>
                                
                                
                            </div>
                        </div>
                            <div class="row">
                                {% if profile.user == request.user%}
                                    <a href="#" class="btn btn-success btn-icon-split btn-lg">
                                      <span class="icon text-white-50">
                                        <i class="fas fa-flag"></i>
                                      </span>
                                      <span class="text">Update Profile </span>
                                    </a>
                                  {% endif %}
                            </div>
                        
                    </div>
                    <div class="col-md-8" style="padding: 5%;">
                        <div class="row">
                            <div class="col text-center">
                                <h2> Profile of {{ profile.user.username }} </h2>
                            </div>
                    
                        </div>
                        
                           
                                <div class="col-md-6 mb-3">
                                <h4>first name: <small> {{ profile.user.first_name }}</small></h4>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <h4>last name:<small> {{request.user.last_name }}</small></h4>
                                    </div>
                                <div class="col-md-12 mb-3">
                                    <h4>Email :<small> {{profile.user.email }}</small></h4>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <h4>Gender :<small> {{profile.gender }}</small></h4>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <h4> Degree :<small> {{profile.degree }}</small></h4>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <h4> Field of Study :<small> {{profile.field_study }}</small></h4>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <h4> Phone :<small> {{ profile.phone }}</small></h4>
                                </div>
                                
                                
                            
{% comment %}                           
                                <div class="col-md-12 mb-3">
                                    <input type="Date" class="form-control" id="exampleInputDateOFBirth" aria-describedby="DateHelp" placeholder="Date">
                                </div>
                            
                            
                                <div class="col-md-12 mb-3">
                                    <input type="Contact" class="form-control" id="exampleInputContact" aria-describedby="PasswordHelp" placeholder="Contact no.">
                                </div> {% endcomment %}
                             
                            
                                <div class="col-md-12 mb-3">
                                    {% comment %} <a href="" class="btn btn-primary btn-user btn-block">
                                        Submit
                                      </a> {% endcomment %}
                                </div>
                            
                            
                        </form>

                    </div>
                </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
{% endblock content %}