{% extends "unlogged/base.html" %} {% load crispy_forms_tags %} {% block content %}

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user" method="POST">
                                {% csrf_token %}
                                {% comment %} <div class="form-group row controls">
                                    <div class="col-sm-12 mb-12 mb-sm-0">
                                        <input type="text" name="username" maxlength="150" autofocus class="form-control form-control-user textinput textInput" placeholder="Username" required id="id_username">
                                    </div>
                                </div>
                                <div class="form-group controls">
                                    <input type="email" name="email" class="emailinput form-control form-control-user" required id="id_email" placeholder="Email Address">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" name="password1" placeholder="Password" autocomplete="new-password" class="textinput textInput form-control form-control-user" required id="id_password1">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" name="password2" autocomplete="new-password" class="form-control form-control-user textinput textInput" placeholder="Repeat Password" required id="id_password2">
                                    </div>
                                </div> {% endcomment %}

                                {{form|crispy}}

                                <div class="form-group">
                                    <button class="btn btn-google btn-user btn-block" type="submit">Sign Up</button>
                                </div>

                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{% url 'password_reset' %}">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <br><br><br><br> {% endblock content %}