{% extends "common/base.html" %}
{% load static %}
{% block content %}

<!-- Begin Page Content -->
<div class="container fluid">
<div class="panel-group" id="accordion">
<div class="row">
    <div class="col-md-6">
                    
        <h1 class="h3 mb-3 text-white-800"> Terms And Conditions
        
        <a class="btn btn-primary btn-circle">
                    <i class="fas fa-info-circle text-white"></i>
                  </a></h1>            
        
            <h2><br>Welcome to Logbook<br><br></h2>
            <p>These terms of service outline the rules and regulations for the use of Logbook's Website.</p> 
            <p>By accessing this website we assume you accept these terms of service in full. Do not continue to use Logbook's website 
            if you do not accept all of the terms of service stated on this page.</p>
            <p>The following terminology applies to these Terms of Service, Privacy Statement and Disclaimer Notice
            and any or all Agreements: "Client", "You" and "Your" refers to you, the person accessing this website
            and accepting the Company's terms of service. "The Company", "Ourselves", "We", "Our" and "Us", refers
            to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves, or either the Client
            or ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake
            the process of our assistance to the Client in the most appropriate manner, whether by formal meetings
            of a fixed duration, or any other means, for the express purpose of meeting the Client's needs in respect
            of provision of the Company's stated services/products, in accordance with and subject to, prevailing law
            of India. Any use of the above terminology or other words in the singular, plural,
            capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>
        <h2><br>License</h2>
            <p>Unless otherwise stated, Logbook and/or it's licensors own the intellectual property rights for
            all material on Logbook. All intellectual property rights are reserved. You may view and/or print
            pages from https://scrum1.ln-k.cf/ for your own personal use subject to restrictions set in these terms of service.</p>
            <p>You must not:</p>
            <ol>
                <li>Republish material from https://scrum1.ln-k.cf/</li>
                <li>Sell, rent or sub-license material from https://scrum1.ln-k.cf/</li>
                <li>Reproduce, duplicate or copy material from https://scrum1.ln-k.cf/</li>
            </ol>
            <p>Redistribute content from Logbook (unless content is specifically made for redistribution).</p>
        <h2><br>Hyperlinking to our Content</h2>
            <ol>
                <li>The following organizations may link to our Web site without prior written approval:
                    <ol>
                    <li>Government agencies;</li>
                    <li>Search engines;</li>
                    <li>News organizations;</li>
                    <li>Online directory distributors when they list us in the directory may link to our Web site in the same
                        manner as they hyperlink to the Web sites of other listed businesses; and</li>
                    <li>Systemwide Accredited Businesses except soliciting non-profit organizations, charity shopping malls,
                        and charity fundraising groups which may not hyperlink to our Web site.</li>
                    </ol>
                </li>
            </ol>
            <ol start="2">
                <li>These organizations may link to our home page, to publications or to other Web site information so long
                    as the link: <br><ol>                    (a) is not in any way misleading;<br>
                     (b) does not falsely imply sponsorship, endorsement or
                    approval of the linking party and its products or services; and <br>
                    (c) fits within the context of the linking
                    party's site.</ol>
                </li>
                <li>We may consider and approve in our sole discretion other link requests from the following types of organizations:
                    <ol>
                        <li>commonly-known consumer and/or business information sources such as Chambers of Commerce, American
                            Automobile Association, AARP and Consumers Union;</li>
                        <li>dot.com community sites;</li>
                        <li>associations or other groups representing charities, including charity giving sites,</li>
                        <li>online directory distributors;</li>
                        <li>internet portals;</li>
                        <li>accounting, law and consulting firms whose primary clients are businesses; and</li>
                        <li>educational institutions and trade associations.</li>
                    </ol>
                </li>
            </ol>
            <p>We will approve link requests from these organizations if we determine that: <br>
               <ol> (a) the link would not reflect
            unfavorably on us or our accredited businesses (for example, trade associations or other organizations
            representing inherently suspect types of business, such as work-at-home opportunities, shall not be allowed
            to link);<br>
             (b)the organization does not have an unsatisfactory record with us; <br>
             (c) the benefit to us from
            the visibility associated with the hyperlink outweighs the absence of Logbook;
            <br> (d) where the link is in the context of general resource information or is otherwise consistent with editorial content
            in a newsletter or similar product furthering the mission of the organization.</ol></p>
        
            <p>These organizations may link to our home page, to publications or to other Web site information so long as
            the link: <br>
            <ol>
            (a) is not in any way misleading; <br>
            (b) does not falsely imply sponsorship, endorsement or approval
            of the linking party and it products or services; <br>
             (c) fits within the context of the linking party's
            site.</ol></p>
        
            <p>If you are among the organizations listed in paragraph 2 above and are interested in linking to our website,
            you must notify us by sending an e-mail to <a href="mailto:logbook@thapar.edu" title="send an email to logbook@thapar.edu" style="color: black;">logbook@thapar.edu</a>.
            Please include your name, your organization name, contact information (such as a phone number and/or e-mail
            address) as well as the URL of your site, a list of any URLs from which you intend to link to our Web site,
            and a list of the URL(s) on our site to which you would like to link. Allow 2-3 weeks for a response.</p>
        
            <p>Approved organizations may hyperlink to our Web site as follows:</p>
        
            <ol>
                <li>By use of our corporate name; or</li>
                <li>By use of the uniform resource locator (Web address) being linked to; or</li>
                <li>By use of any other description of our Web site or material being linked to that makes sense within the
                    context and format of content on the linking party's site.</li>
            </ol>
            <p>No use of Logbook's logo or other artwork will be allowed for linking absent a trademark license
            agreement.</p><br>
        <h2>Reservation of Rights</h2>
            <p>We reserve the right at any time and in its sole discretion to request that you remove all links or any particular
            link to our Web site. You agree to immediately remove all links to our Web site upon such request. We also
            reserve the right to amend these terms of service and its linking policy at any time. By continuing
            to link to our Web site, you agree to be bound to and abide by these linking terms of service.</p><br>
        <h2>Content Liability</h2>
            <p>We shall have no responsibility or liability for any content appearing on your Web site. You agree to indemnify
            and defend us against all claims arising out of or based upon your Website. No link(s) may appear on any
            page on your Web site or within any context containing content or materials that may be interpreted as
            libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or
            other violation of, any third party rights.</p>



         </div>
                    <div class="col-md-6" style="padding: 5%;">
                    
                        <img src="{% static "img/FAQs.png" %}" alt="FAQs" style="width:600px;height:350px;">
                     
                            
                    </form>

                    </div>
                </div>
            </div>
{% endblock content %}