{% extends 'common/base.html' %} {% load static %} {% block styles %}
<style>
    body {
        background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
    }
    
    .project-form {
        background: white;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 100%;
        border-radius: 1rem;
        padding-bottom: 5%;
    }
    
    .project-image {
        text-align: center;
    }
    
    .project-image img {
        border-radius: 1rem;
        /* border: 1px solid blue; */
        padding: 1%;
        width: 11%;
        margin-top: -4%;
        transform: rotate(5deg);
    }
    
    .project-form h3 {
        margin-bottom: 5%;
        text-align: center;
        color: #0062cc;
    }
</style>{% endblock styles %} {% block content %}


<div class="container-fluid">

    <div class="row">
        <div class="col">
            <div class="container project-form">
                <div class="project-image">
                    <img src="{% static 'log/note-icon.png' %}" alt="rocket_log" />
                </div>
                <form method="post" class="needs-validation" name="createLogForm" novalidate>
                    {% csrf_token %}
                    <h3>Create a Project</h3>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">Title</label>
                            <input type="text" class="form-control" id="validationCustom01" placeholder="Name of your Project" value="" name="project-title" required>
                            <div class="invalid-feedback">
                                Title cannot be blank
                            </div>
                        </div>

                        <div class="col-md-8 mb-3">
                            <label for="validationCustomUsername">Description</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend">#</span>
                                </div>
                                <input name="project-description" type="text" class="form-control" id="validationCustomUsername" placeholder="Enter a short description for searchability" aria-describedby="inputGroupPrepend" required>

                            </div>
                        </div>
                    </div>


                    <div class="form-row">

                        <div class="col-md-6 mb-3">
                            <select id="inputState" class="form-control" name="project-team">
                                <option  selected value disabled> -- select a team -- </option>
                                
                              {% for project in teams %}
                              
                              <option> {{ project.title }} </option>
                              {% endfor %}

                            </select>
                        </div>
                        <div class="input-group mb-3 col-md-6">

                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="project-banner">
                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            </div>
                        </div>


                    </div>




                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Create Project</button>

                    </div>

                </form>


            </div>
        </div>
    </div>
</div>
{% endblock content %} {% block scripts %}

<script>
    var input = document.getElementById("file_input");

    // function input_filename() {
    //     file_input_label.innerText = input.files[0].name;
    // }
</script>


{% endblock scripts %}