{% extends 'common/base.html' %} 
{% block styles %} 
{% endblock styles %}
{% block content %} 

<div class="jumbotron">
  <h1 class="display-4">
  <img src="{{ project.logo_thumbnail.url }}" alt="Project :{{project.title.url}} logo" class="img-thumbnail">
  Project: {{project.title }}</h1>
  <p class="lead">{{project.title}}</p>
  <hr class="my-4">
  <p>{{project.description}}</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Create Team</a>
  {% for team in project_teams %}
  <div class="card">
  <div class="card-header">
  {% if team.reviewed %}
    Reviewed
{% else %}
    Pending Review
{% endif %}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ team.title}}</h5>
    <p class="card-text">{{team.description}}</p>
    <a href="{% url 'team-detail' team.id %}" class="btn btn-primary">View Team</a>
  </div>
</div>
  {% endfor %}
</div>

{% endblock content %}
{% block scripts %} 
{% endblock scripts%}
