{% extends "common/base.html" %}
{% load static %}
{% block content %}

<style>
  .log-view {
    background: white;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    border-radius: 1rem;
    padding-bottom: 5%;
    padding: 5%;
    color: black;
  }

  .main-heading {
    /* margin-top: 2em; */
    font-size: 3.5em;
  }

  .log-content-row {
    margin-top: 2em;
  }

  .log-content {
    color: #858796;
  }

  .btn-lg {
    border-radius: 1.2rem;
  }

  .card {
    margin-bottom: 25px;
  }
</style>

<div class="col-lg-12 mb-4">

  <!-- Illustrations -->
  <div class="card shadow mb-12">
    <div class="card-header py-12">
      <h6 class="m-0 font-weight-bold text-primary">Team Details </h6>
    </div>
    <div class="card-body">
      <div class="text-center">
        <img class="img-fluid px-12 px-sm-12 mt-12 mb-12" style="width: 25rem;" src="
                    {% static 'img/undraw_team_goals_hrii.svg' %}" alt="">
      </div>

      <h2>Team : {{ team.title }}</h2>
      {% if show_token %}
      <p>Join Code: {{ team.token }}</p>
      {% endif %}

    </div>

  </div>

  <div class="card shadow mb-12">
    <div class="card-header py-6">
      <h6 class="m-0 font-weight-bold text-primary">Team Members</h6>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Full Name </th>
            <th>Email</th>
          </tr>
        </thead>
        {% for member in members %}
        <tbody>
          <tr>
            <td>{{member.username}}</td>
            <td>{% if member.first_name %}{{member.first_name}} {{member.last_name}}{% else %}----{% endif %}</td>
            <td>{% if member.email %}{{member.email}}{% else %}----{% endif %}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>

    </div>

  </div>

  <div class="card shadow mb-12">
    <div class="card-header py-6">
      <h6 class="m-0 font-weight-bold text-primary">Project</h6>
    </div>
    <div class="card-body">
      <div class="text-center">
        <img class="img-fluid px-12 px-sm-6 mt-6 mb-6" style="width: 25rem;" src="
                    {% static 'img/undraw_redesign_feedback_48ti.svg' %}" alt="">
      </div>
      <h2>Participating in Project : {{ project.title }}</h2>

    </div>

  </div>




  {% endblock content %}