{% extends "common/base.html" %}
{% load static %}
{% block content %}

<style>
  .log-view {
    background: white;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    border-radius: 1rem;
    padding-bottom: 5%;
    padding: 5%;
    color: black;
  }

  .main-heading {
    /* margin-top: 2em; */
    font-size: 3.5em;
  }

  .log-content-row {
    margin-top: 2em;
  }

  .log-content {
    color: #858796;
  }

  .btn-lg {
    border-radius: 1.2rem;
  }

  .card {
    margin-bottom: 25px;
  }
</style>

<div class="col-lg-12 mb-4">

  <!-- Illustrations -->
  <div class="card shadow mb-12">
    <div class="card-header py-12">
      <h6 class="m-0 font-weight-bold text-primary">Team Details </h6>
    </div>
    <div class="card-body">
      <div class="text-center">
        <img class="img-fluid px-12 px-sm-12 mt-12 mb-12" style="width: 25rem;" src="
                    {% static 'img/undraw_team_goals_hrii.svg' %}" alt="">
      </div>
      <div class="row">
        <div class="col-10">

          <h2>Team : {{ team.title }}</h2>
          {% if show_token %}
          <p>Join Code: {{ team.token }}</p>
          {% endif %}
        </div>
        {% if team.admin == user %}
        <div class="col-2 justify-content-center">
          <button class="btn btn-danger float-right" data-toggle="modal" data-target="#myModal">Delete</button>
        </div>
        {% endif %}
      </div>


    </div>

  </div>

  <div class="card shadow mb-12">
    <div class="card-header py-6">
      <h6 class="m-0 font-weight-bold text-primary">Team Members</h6>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Full Name </th>
            <th>Email</th>
          </tr>
        </thead>
        {% for member in members %}
        <tbody>
          <tr>
            <td>{{member.username}}</td>
            <td>{% if member.first_name %}{{member.first_name}} {{member.last_name}}{% else %}----{% endif %}</td>
            <td>{% if member.email %}{{member.email}}{% else %}----{% endif %}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>

    </div>

  </div>

  <div class="card shadow mb-12">
    <div class="card-header py-6">
      <h6 class="m-0 font-weight-bold text-primary">Project</h6>
    </div>
    <div class="card-body">
      <div class="text-center">
        <img class="img-fluid px-12 px-sm-6 mt-6 mb-6" style="width: 25rem;" src="
                    {% static 'img/undraw_redesign_feedback_48ti.svg' %}" alt="">
      </div>
      <h2>Participating in Project : {{ project.title }}</h2>

    </div>

  </div>


  <div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this team ? </p>
                <p class="text-secondary"><small>They will also be deleted for all other collabrators in this project.
                        This action cannot be undone.</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cancel</button>
                <form method="POST" action="{% url 'delete-team' %}">
                    {% csrf_token %}
                    <input type="hidden" name="pk" value="{{ team.id }}">
                    <button class="btn btn-danger" type="submit">Delete</a>
                </form>

            </div>
        </div>
    </div>
</div>



  {% endblock content %}